
.mobilemainbox {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    bottom: 90px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    /* position: relative; */
}

.mobilestyling {
    display: flex;
    align-items: center;
    padding: 5px 0;
}