
.homemainbox {
    width: 100vw;
    height: 100vh;
    background-color: rgb(32,33,36);
    color: #fff;
    /* align-items: center; */
}

.homefirstbox {
    height: 85vh;
    padding: 10px;
}

.homefirstboximage {
    background-color: rgba(255, 255, 255, 0.126);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 6px;
    border-radius: 5px;
    position: relative;
}

.homefirstboximage img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.gridfirst {
    grid-area: a;
}

.gridsecond {
    grid-area: b;
}

.gridthird {
    grid-area: c;
}

.gridforth {
    grid-area: d;
}

.gridfifth {
    grid-area: e;
}

.gridsixth {
    grid-area: f;
}

.gridseven {
    grid-area: g;
}

.grideight {
    grid-area: h;
}

@media screen and (min-width: 100px) and (max-width: 450px) {
    #homefirstbox {
     grid-template-areas:
     'a'
     'b'
     'c'
     'd'
     'e'
     'f'
     'g'
     'h' !important;
    }
    .homefirstboximage {
        width: 80%;
        height: 60px;
        margin: 5px auto;
    }

    .homefirstboximage img {
        width: 30px;
        height: 30px;
    }
 }

@media screen and (min-width: 450px) and (max-width: 721px) {
   #homefirstbox {
    grid-template-areas:
    'a a b b c c'
    'd d e e f f'
    '. g g h h .' !important;
   }
}

@media screen and (min-width: 722px) and (max-width: 913px) {
    #homefirstbox {
     grid-template-areas:
     'a a b b c c'
     'd d e e f f'
     '. g g h h .' !important;
    }
 }

