

.footermainbox {
    height: 15vh;
    background-color: rgb(32,33,36);
    display: flex;
}

.footerfirstbox {
    height: 100%;
    flex: .36;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.footersecondbox {
    height: 100%;
    flex: .28;
    padding: 0 20px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
}

.footerthirdbox {
    height: 100%;
    flex: .36;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 20px;
}

.footerlist {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

li {
    list-style: none;
}

.footerarrow {
    display: none;
}

.footerarrow {
    display: none;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
    .hide {
        display: none;
    }

    .footersecondbox {
        flex: .5;
    }

    .footerthirdbox {
        flex: .5;
    }
    
}

@media screen and (min-width: 100px) and (max-width: 630px) {
    
    .footerthirdbox {
        display: none;
    }

    .footersecondbox {
        flex: .7;
        justify-content: space-between;
        padding: 0 5px;

    }
    
    .footerarrow {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: .3;
    }

}

@media screen and (min-width: 100px) and (max-width: 721px) {
    .footerthirdbox {
        display: none;
    }
}